/* Dropdown 전체 컨테이너 */
.vms-dropdown {
  position: relative; /* dropdownlist 기준점 */
  display: inline-block;
  /* display: flex; */
}

/* DropdownTrigger 버튼 스타일 */
.vms-dropdown-trigger {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  flex-shrink: 0;
  padding: 12px 16px;

  border: 1px solid var(--gray-gray_200, #747474);
  border-radius: 10px;
  background: var(--black-black_400, #131313);
  cursor: pointer;

  color: var(--gray-gray_100, #d8d8d8);
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  min-width: 146px;
}

/* 옵션 리스트 ul 태그 스타일 */
.vms-dropdown-list {
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 5px;

  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

/* 옵션 아이템 li 태그 스타일 */
.vms-dropdown-item {
  width: 100%;
  padding: 12px 26px;

  color: var(--gray-gray_100, #d8d8d8);
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;

  border: 1px solid var(--gray-gray_200, #747474);
  background: var(--black-black_400, #131313);
  cursor: pointer;
}

/* 아이템 간 border가 겹쳐 두꺼워지는 현상 방지 */
.vms-dropdown-item + .vms-dropdown-item {
  margin-top: -1px; /* 아이템 사이의 border가 겹치도록 음수 마진 적용 */
}

/* 첫 번째 아이템의 상단 모서리를 둥글게 */
.vms-dropdown-item:first-child {
  border-radius: 10px 10px 0 0;
}

/* 마지막 아이템의 하단 모서리를 둥글게 */
.vms-dropdown-item:last-child {
  border-radius: 0 0 10px 10px;
}

/* 아이템에 마우스를 올렸을 때 스타일 */
.vms-dropdown-item:hover {
  background-color: #2c2c2c; /* hover 시 배경 강조 */
}

.vms-dropdown-item.active {
  font-weight: 700;
}
