
:root {
  /* Gray scale */
  --black-400: #131313;
  --black-300: #212121;
  --black-200: #282828;
  --black-100: #2E2E2E;
  --gray-400: #333333;
  --gray-300: #4B4B4B;
  --gray-200: #747474
  --gray-100: #D8D8D8;

  /* Primary color */
  --blue: #558FFF;
  --orange: #EB5230;
  --red: #C41013;
  --white: #FFFFFF;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

:root { font-family: 'Pretendard', system-ui, -apple-system, Segoe UI, Roboto, 'Noto Sans KR', sans-serif; }

